<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="Triangle" class="com.ymhase.springcore.model.Triangle4">
		<property name="pointA" ref="zeroPoint"></property>
		<property name="pointB" ref="onePoint"></property>
		<property name="pointC" ref="twoPoint"></property>
	</bean>

	<bean id="zeroPoint" class="com.ymhase.springcore.model.Point">
		<property name="X" value="0"></property>
		<property name="Y" value="0"></property>
	</bean>

	<bean id="onePoint" class="com.ymhase.springcore.model.Point">
		<property name="X" value="10"></property>
		<property name="Y" value="20"></property>
	</bean>

	<bean id="twoPoint" class="com.ymhase.springcore.model.Point">
		<property name="X" value="30"></property>
		<property name="Y" value="40"></property>
	</bean>
</beans>